
.gradient__bg::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  background: linear-gradient(265.84deg, #32C5FF 18.6%, #F6A76B 74.21%);
  opacity: 0.1;
  filter: blur(100px);
  border-radius: 6px;
  width: 100%;
  height: 100%;
}